.fabric/
.history/
data/
defaultconfigs/
local/
logs/
patchouli_books/
replay_recordings/
resourcepacks/
saves/
schematics/
shaderpacks/
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
XaeroWorldMap/

irisUpdateInfo.json
minecraftinstance.json
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json